#tt-preloader {
    position: fixed;
    /*bottom: 0;*/
    left: 0;
    /*right: 0;*/
    top: 0;
	width: 100%;
	height: 100%;
    z-index: 999999;
    background: url("../img/log-bg.jpg")repeat #fff;
}
.loader-inner{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -45px;
    z-index: 9999;
}
.ball-grid-pulse {
    width: 90px;
}
.ball-grid-pulse > div:nth-child(1) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    -webkit-animation-duration: 0.71s;
    animation-duration: 0.71s;
}
.ball-grid-pulse > div:nth-child(2) {
    -webkit-animation-delay: -0.13s;
    animation-delay: -0.13s;
    -webkit-animation-duration: 1.23s;
    animation-duration: 1.23s;
}
.ball-grid-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0.53s;
    animation-delay: 0.53s;
    -webkit-animation-duration: 1.36s;
    animation-duration: 1.36s;
}
.ball-grid-pulse > div:nth-child(4) {
    -webkit-animation-delay: 0.38s;
    animation-delay: 0.38s;
    -webkit-animation-duration: 0.79s;
    animation-duration: 0.79s;
}
.ball-grid-pulse > div:nth-child(5) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}
.ball-grid-pulse > div:nth-child(6) {
    -webkit-animation-delay: 0.46s;
    animation-delay: 0.46s;
    -webkit-animation-duration: 1.56s;
    animation-duration: 1.56s;
}
.ball-grid-pulse > div:nth-child(7) {
    -webkit-animation-delay: -0.07s;
    animation-delay: -0.07s;
    -webkit-animation-duration: 1.17s;
    animation-duration: 1.17s;
}
.ball-grid-pulse > div:nth-child(8) {
    -webkit-animation-delay: 0.31s;
    animation-delay: 0.31s;
    -webkit-animation-duration: 1.45s;
    animation-duration: 1.45s;
}
.ball-grid-pulse > div:nth-child(9) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-animation-duration: 1.13s;
    animation-duration: 1.13s;
}
.ball-grid-pulse > div {
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    float: left;
    -webkit-animation-name: ball-grid-pulse;
    animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@-webkit-keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}